<!doctype html>
<html><head><meta charset="utf-8"><title>banner-art</title>
<link rel="stylesheet" href="kit.css">
<style>html,body{width:800px;height:2000px}</style>
</head><body class="clear">
<!-- Pull-up banner artwork, white on transparent, for printing on a black banner. -->
<img class="abs logo" src="../../assets/heartbeat-mark-white.svg" style="left:120px;top:260px;height:560px">
<div class="abs display" style="left:120px;top:1060px;font-size:118px;line-height:1.0;width:600px">Living Out The Gospel Together Whole&shy;heartedly</div>
<img class="abs logo" src="../../assets/heartbeat-lockup-white.svg" style="left:120px;bottom:150px;height:96px">
</body></html>
