<!doctype html>
<html><head><meta charset="utf-8"><title>slide-title</title>
<link rel="stylesheet" href="kit.css">
<style>html,body{width:1920px;height:1080px}</style>
</head><body class="dark">

<img class="echo" src="../../assets/heartbeat-echo-white.svg" style="right:-200px;top:-140px;height:1360px;opacity:.95">
<div class="abs label muted" style="left:140px;top:300px;font-size:28px">Sunday 5 October 2026</div>
<div class="abs display" style="left:134px;top:360px;font-size:150px;width:1050px">Sermon title goes here</div>
<div class="abs body" style="left:140px;top:720px;font-size:40px">Speaker Name</div>
<img class="abs logo" src="../../assets/heartbeat-lockup-white.svg" style="left:140px;bottom:96px;height:64px">

<script>if (location.search.includes('preview')) document.body.classList.add('preview');</script>
</body></html>
